{% extends 'base.html.twig' %}

{% block title %}Hello PageAcceuilController!
{% endblock %}

{% block body %}
	<div class="py-5">
		<div class="container">
			<div class="row hidden-md-up">
				{% for annonce in annonces %}
					<div class="col-md-4">
						<div class="card">
							<div class="card-block">
								<h4 class="card-title">{{annonce.titre}}</h4>

								{% for chien in annonce.chiens %}
									{% for image in chien.images %}
										<img class="d-block w-100" src="{{ image.nom }}" alt="First slide">
									{% endfor %}
									<h4>
										{% for race in chien.race %}
											{{- race.nom -}}
											{%- if not loop.last -%},
											{%  endif -%}
										{% endfor %}
									</h4>


								{% endfor %}

								<h6 class="card-subtitle">
									<strong>nombre de chien :
									</strong>
									{{annonce.nombredechien }}</h6>
								<br>
								<h6 class="card-subtitle text-muted">{{annonce.DateDeMiseAjour|date('Y-m-d') }}</h6>


								<p class="card-text p-y-1">Some quick example text to build on the card title .</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	{# section listeSpa  #}

	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nom de l'association</th>
				<th scope="col">Nombre d'annonces à pourvoir
				</th>
				<th scope="col">Nombre d'annonces pourvues</th>
			</tr>
		</thead>
		<tbody>
			{% for spa in spas %}
				<tr>
					<th scope="row"></th>
					<td>{{spa.nomAssociation }}</td>
					<td>{{spa.nombreAnnonceApourvoir}}</td>
					<td>{{spa.nombreAnnoncePourvues }}</td>
					{# <td>{{annonce.DateDeMiseAjour|date('Y-m-d') }}</td> #}
				</tr>

			{% endfor %}

		</tbody>
	</table>


{% endblock %}
